<div id="hitCountValue">0</div>

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script type="text/javascript">
    $(function () {
        var connection = jQuery.hubConnection();
        var hub = connection.createHubProxy("hitCounter");
        hub.on("onRecordHit", function (hitCount) {
            $("#hitCountValue").text(hitCount);
        });
        connection.start(function () {
            hub.invoke('recordHit');
        });
    })
</script>